env: &env
  environment:
    GRUNTWORK_INSTALLER_VERSION: v0.0.21
    TERRATEST_LOG_PARSER_VERSION: v0.13.24
    MODULE_CI_VERSION: v0.31.0
    TERRAFORM_VERSION: 0.15.5
    PACKER_VERSION: 1.6.1
    GOLANG_VERSION: 1.16
    GO111MODULE: auto
defaults: &defaults
  machine:
    enabled: true
    image: "ubuntu-1604:201903-01"
  <<: *env
install_gruntwork_utils: &install_gruntwork_utils
  name: install gruntwork utils
  command: |
    curl -Ls https://raw.githubusercontent.com/gruntwork-io/gruntwork-installer/master/bootstrap-gruntwork-installer.sh | bash /dev/stdin --version "${GRUNTWORK_INSTALLER_VERSION}"
    gruntwork-install --module-name "gruntwork-module-circleci-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
    gruntwork-install --module-name "git-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
    gruntwork-install --binary-name "terratest_log_parser" --repo "https://github.com/gruntwork-io/terratest" --tag "${TERRATEST_LOG_PARSER_VERSION}"configure-environment-for-gruntwork-module \
      --terraform-version ${TERRAFORM_VERSION} \
      --packer-version ${PACKER_VERSION} \
      --go-version ${GOLANG_VERSION}
version: 2.0
jobs:
  build:
    <<: *env
    docker:
      - image: circleci/python:3.8.1
    steps:
      - checkout
      - run:
          <<: *install_gruntwork_utils
      - run:
          name: run pre-commit hooks
          command: |
            # Install the latest minor version for v2
            pip install pre-commit~=2.9
            pre-commit install
            pre-commit run --all-files
  test:
    <<: *defaults
    steps:
      - checkout
      # Install gruntwork utilities
      - run:
          <<: *install_gruntwork_utils
      - run:
          name: run tests
          command: |
            mkdir -p /tmp/logs
            run-go-tests --path ./test --timeout 1h --parallelism 64 | tee /tmp/logs/all.log
          no_output_timeout: 3600s
      - run:
          command: terratest_log_parser --testlog /tmp/logs/all.log --outputdir /tmp/logs
          when: always
      - store_artifacts:
          path: /tmp/logs
      - store_test_results:
          path: /tmp/logs
workflows:
  version: 2
  build-and-test:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
          context:
            - Gruntwork Admin
      - test:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
          context:
            - Gruntwork Admin
